[Unit]
Description=calibreweb
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=/usr/bin/python __FINALPATH__/cps.py >> /var/log/__APP__/__APP__.log 2>&1

[Install]
WantedBy=multi-user.target
