[Unit]
Description=__APP__
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=/bin/sh -c '/usr/bin/python3 __FINALPATH__/cps.py'

[Install]
WantedBy=multi-user.target
